.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: darkgreen;
}

.nav-element {
    text-decoration: none;
    margin: 1.5rem;
    color: white;
    line-height: 2rem;
}

.underline {
    text-decoration: underline;
}

.grid {
    margin-right: 1.5rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 700px) {
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1000px) {
    .grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1800px) {
    .grid{
        grid-template-columns: repeat(3, 1fr);
    }
}

body {
    margin: 0;

    height: 100%;

}

.grid-element {
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
}

table, td, th {
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
}